.header {
  & .navigation-block-wrapper {
    border-top: 1px solid $accentColor;
    background-color: $backgroundColorOne;
    padding: 2.5rem 0;
    & .main-menu-wrapper {
      width: 100%;
      & .mobile-menu-control-block {
        display: none;
      }
      & .main-menu-body-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .main-menu-part {
          display: flex;
          & .main-menu-item {
            margin-right: 1.25rem;
            &:last-child {
              margin-right: 0;
            }
            & .main-menu-link {
              font-size: 1.125rem;
              text-transform: uppercase;
              color: $secondaryAccentColor;
            }
          }
        }
        & .main-menu-logo-wrapper {
          & .main-menu-logo-link {
            display: block;
          }
        }
      }
    }
  }
}