.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: $backgroundColorOne;
  text-transform: uppercase;
  margin-bottom: 7.5rem;
  @include mq-inv-tablet-minified {
    margin-bottom: 4.375rem;
  }
  & .yellow-color-text {
    color: $accentColor
  }
  & .thin-text {
    font-weight: 300;
  }
}