// colors
$text: #212529;
$accentColor: #f1d430;
$accentColorDarker: #e8be2d;
$secondaryAccentColor: #888888;
$thirdAccentColor: #555555;
$backgroundColorOne: #222222;
$backgroundColorTwo: #333333;
$whiteColor: #ffffff;
$greyWhiteColor: #f8f8f8;
$raspberryСolor: #d10869;
$lightBlueColor: #1da1f3;
$blueColor: #3b5998;
$nearBlackColor: #1f1f1f;
$greyColorText: #444444;
$lightGreyColor: #aaaaaa;
$lightGreyColorTwo: #e4e4e4;
$lightGreyColorThree: #eeeeee;
$lightGreyColorFour: #dddddd;

// fonts
$mainFont: 'Titillium Web', sans-serif;
//

@mixin itemGrid($n, $gap) {
  width: calc(100% / #{$n} - #{$gap}px + #{$gap}px / #{$n});
  margin-right: #{$gap}px;
  &:nth-child(#{$n + 1}n){
    margin-right: #{$gap}px;
  }
  &:nth-child(#{$n}n){
    margin-right: 0;
  }
}