.section--hero {
  min-height: 100vh;
  background: url("../img/img_bg_top_section.jpg") no-repeat center;
  padding-top: 18rem;
  padding-bottom: 6rem;
  color: $secondaryAccentColor;
  @include mq-inv-tablet-minified {
    padding-top: 6.75rem;
  }
  & .container {
    padding: 0 4.0625rem;

    // Content Block
    & .hero-section-content-block {
      width: 100%;
      display: flex;
      position: relative;
      margin-bottom: 5rem;
      @include mq-inv-tablet-minified {
        flex-direction: column;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        border-right: 2px solid $secondaryAccentColor;
        top: 0;
        left: 50%;
        transform: translateX(50%);
        @include mq-inv-tablet-minified {
          display: none;
        }
      }
      & .hero-content-column {
        width: 50%;
        padding-top: 1.5rem;
        padding-bottom: 7.75rem;
        @include mq-inv-tablet-minified {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        &.hero-content-column--audio {
          padding-left: 0.9375rem;
          padding-right: 2.5rem;
          text-align: end;
          @include mq-inv-tablet-minified {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 3.125rem;
            text-align: center;
          }
        }
        &.hero-content-column--contacts {
          padding-left: 2.5rem;
          padding-right: 0.9375rem;
          text-align: start;
          @include mq-inv-tablet-minified {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            text-align: center;
          }
        }
        & .hero-content-heading {
          color: $secondaryAccentColor;
          text-transform: uppercase;
          font-size: 1.5rem;
          margin-bottom: 1.875rem;
          font-weight: 300;
        }
        & .decorated-text-pic {
          display: block;
          width: 100%;
          height: 4.1875rem;
          margin-bottom: 2.375rem;
        }
        & .hero-content-short-desc {
          font-size: 1.125rem;
          margin-bottom: 2rem;
        }
      }

      // Audio player styles
      & .control-panel-wrapper {
        width: 100%;
        @include mq-inv-tablet-minified {
          display: flex;
          justify-content: center;
        }
      }

      & .audio-player-wrapper {
        height: 2.75rem;
        background: url("../img/decor_equalizer_bar.svg") no-repeat center $backgroundColorOne;
        background-size: cover;
        color: $whiteColor;
        border-radius: 23px;
        text-align: center;
        box-shadow: 5px 9px 10px rgba(0, 1, 0, 0.09);
        position: relative;
        @include mq-inv-tablet-minified {
          width: 100%;
          max-width: 18.75rem;
        }
        & .play-audio-btn {
          position: absolute;
          top: 0;
          left: 0;
          background: $accentColor;
          background-size: cover;
          color: $whiteColor;
          border-radius: 50%;
          text-align: center;
          width: 2.75rem;
          height: 2.75rem;
          transform: translateX(-1px);
          border: none;
          & .audio-btn-label {
            color: $backgroundColorOne;
            &:after {
              content: "PLAY";
              color: $whiteColor;
              font-size: 0.75rem;
              font-weight: bold;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 3.75rem;
            }

          }
          &.pause {
            & .audio-btn-label {
              &:after {
                content: "PAUSE";
              }
            }
          }
        }
      }
    }

    // Partners Carousel Block
    & .hero-section-partners-carousel {
      display: flex;
      justify-content: center;
      width: 100%;
      z-index: 0;
      & .swiper {
        width: 100%;
        max-width: 48.75rem;
        position: relative;
        padding-bottom: 1.625rem;
        &:before,
        &:after {
          position: absolute;
          top: 0;
          width: 50px;
          height: 40px;
          content: "";
          z-index: 10;
        }
        &:before {
          left: 0;
          background: linear-gradient(to right, $backgroundColorOne 20%, transparent 70%);
        }
        &:after {
          right: 0;
          background: linear-gradient(to left, $backgroundColorOne 20%, transparent 70%);
        }
        & .partner-slide {
          width: auto !important;
          height: 2.5rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-right: 3rem;
          margin-bottom: 2.5rem;
        }
        & .slider-control-buttons-block {
          position: absolute;
          width: 100%;
          display: block;
          bottom: 0;
          & .slider-control-buttons-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 1.625rem;
            &:after {
              content: "";
              display: block;
              position: absolute;
              border-right: 2px solid $secondaryAccentColor;
              top: 0;
              height: 100%;
            }
            & .control-partner-logo {
              display: inline-block;
              color: $whiteColor;
              transition: all 200ms ease;
              margin: 0 0.625rem;
              padding: 0 0.375rem;
              &:hover {
                cursor: pointer;
                color: $accentColor;
              }
            }
          }
        }
      }
    }
  }
}