.section--hero {
  height: 100vh;
  background: url("../img/img_bg_top_section.jpg") no-repeat center;
  margin-top: -18.75rem;
  padding-top: 30rem;
  color: $secondaryAccentColor;
  & .container {
    padding: 0 4.0625rem;
    & .hero-section-content-block {
      width: 100%;
      display: flex;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        border-right: 2px solid $secondaryAccentColor;
        top: 0;
        left: 50%;
        transform: translateX(50%);
      }
      & .hero-content-column {
        width: 50%;
        padding-top: 1.5rem;
        padding-bottom: 7.75rem;
        &.hero-content-column--audio {
          padding-left: 0.9375rem;
          padding-right: 2.5rem;
          text-align: end;
        }
        &.hero-content-column--contacts {
          padding-left: 2.5rem;
          padding-right: 0.9375rem;
          text-align: start;
        }
        & .hero-content-heading {
          color: $secondaryAccentColor;
          text-transform: uppercase;
          font-size: 1.5rem;
          margin-bottom: 1.875rem;
          font-weight: 300;
        }
        & .decorated-text-pic {
          display: block;
          width: 100%;
          height: 4.1875rem;
          margin-bottom: 2.375rem;
        }
        & .hero-content-short-desc {
          font-size: 1.125rem;
          margin-bottom: 2rem;
        }
      }

      // Audio player styles
      & .audio-player-wrapper {
        height: 2.75rem;
        background: url("../img/decor_equalizer_bar.svg") no-repeat center $backgroundColorOne;
        background-size: cover;
        color: $whiteColor;
        border-radius: 23px;
        text-align: center;
        box-shadow: 5px 9px 10px rgba(0, 1, 0, 0.09);
        position: relative;
        & .play-audio-btn {
          position: absolute;
          top: 0;
          left: 0;
          background: $accentColor;
          background-size: cover;
          color: $whiteColor;
          border-radius: 50%;
          text-align: center;
          width: 2.75rem;
          height: 2.75rem;
          transform: translateX(-1px);
          border: none;
          & .audio-btn-label {
            color: $backgroundColorOne;
            &:after {
              content: "PLAY";
              color: $whiteColor;
              font-size: 0.75rem;
              font-weight: bold;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 3.75rem;
            }

          }
          &.pause {
            & .audio-btn-label {
              &:after {
                content: "PAUSE";
              }
            }
          }
        }
      }
    }
  }
}